<section class="mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12" style="background-color: #363636; height: auto">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 d-flex justify-content-center mt-5 mb-5">
              
                <a href="https://www.kerimcanyektek.com">
                  <img src="assets/logo.png" alt="Kerimcan Yektek" />
                  
                </a>
              
            </div>
            <div class="col-lg-3 d-flex justify-content-center">
              <ul style="list-style-type:none; color:white" class="mt-5">
                <li><b><h3><b>Menü</b></h3></b></li>
                <hr>
                <li>Anasayfa</li>
                <li>Bilgisayar ve Parçaları</li>
                <li>Hakkımızda</li>
                <li>İletişim</li>
              </ul>
            </div>
            <div class="col-lg-3 d-flex justify-content-center">
              <ul style="list-style-type:none; color:white" class="mt-5">
                <li><b><h3><b>İletişim</b></h3></b></li>
                <hr>
                <li><b>Telefon:</b> <br>0 530 156 4846</li>
                <li><b>E-Posta</b> kerimcanyektek@gmail.com</li>
                <li><b>Adres:</b> <br> Çakmak, Adana Blv., 33400 Tarsus/Mersin</li>

              </ul>
            </div>

          
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
