<app-navbar></app-navbar>
<app-header></app-header>



<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Blog</h1>

      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3 d-flex justify-content-center mt-3">
      <div class="productMain">
        <div class="productImage">
          <a href="#"><img style="width: 100%; height: 250px;" src="assets/blog1.jpeg" alt=""></a>
        </div>
        <a style ="text-decoration: none; color: black;" href="#"><div class="productTitle" style=" margin-top: 10px; height: 50px; overflow: hidden;"><h4 style="text-align: center;">Intel 11. Nesil Geliyor</h4></div></a>
        <div class="productDescription" style="height: 100px; overflow: hidden;"><p>Intel’in 2020 yılının ortalarından bu yana duyurmaya başladığı ve 10. nesil işlemcilerin yerini alması planlanan 11. nesil yeni Tiger Lake işlemcilerin tüm özellikleri, fiyatları ve çıkış tarihleri ortaya çıkmaya başladı. Bu içeriğimizde Tiger Lake işlemcilerin bilinen tüm detaylarına yakında bakıyoruz.</p></div>
      </div>
    </div>
    <div class="col-lg-3 d-flex justify-content-center mt-3">
      <div class="productMain">
        <div class="productImage">
          <a href="#"><img style="width: 100%; height: 250px;" src="assets/msi.png" alt=""></a>
        </div>
        <a style ="text-decoration: none; color: black;" href="#"><div class="productTitle" style=" margin-top: 10px; height: 50px; overflow: hidden;"><h4 style="text-align: center;">MSI Yeni SSD Duyurdu!</h4></div></a>
        <div class="productDescription" style="height: 100px; overflow: hidden;"><p>CES 2021'de sahne alan MSI, 7.000 MB/sn okuma 6900 MB/sn yazma hızına sahip oyuncu SSD'leri geliştirdiğini duyurdu. Söz konusu SSD modellerinin ne zaman tanıtılacağı ise henüz bilinmiyor.</p></div>
      </div>
    </div>
    <div class="col-lg-3 d-flex justify-content-center mt-3">
      <div class="productMain">
        <div class="productImage">
          <a href="#"><img style="width: 100%; height: 250px;" src="assets/islemci2.png" alt=""></a>
        </div>
        <a style ="text-decoration: none; color: black;" href="#"><div class="productTitle" style=" margin-top: 10px; height: 50px; overflow: hidden;"><h4 style="text-align: center;">Yeni AMD İşlemcileri!</h4></div></a>
        <div class="productDescription" style="height: 100px; overflow: hidden;"><p>AMD'nin yalnızca bilgisayar üreticilerine satacağı iki yeni Ryzen 5000 serisi işlemcisinin özellikleri bugün ortaya çıktı. İşlemciler, X serisi işlemcilerin sunduğu performansın %90-95'ini sunacak.</p></div>
      </div>
    </div>
    <div class="col-lg-3 d-flex justify-content-center mt-3">
      <div class="productMain">
        <div class="productImage">
          <a href="#"><img style="width: 100%; height: 250px;" src="assets/blog3.png" alt=""></a>
        </div>
        <a style ="text-decoration: none; color: black;" href="#"><div class="productTitle" style=" margin-top: 10px; height: 50px; overflow: hidden;"><h4 style="text-align: center;">ACER ChromeBook </h4></div></a>
        <div class="productDescription" style="height: 100px; overflow: hidden;"><p>Acer, AMD Tabanlı İlk Chromebook Olan Chromebook Spin 514'ü Duyurdu</p></div>
      </div>
    </div>


  </div>

</div>

<app-footer></app-footer>
